body {
	margin: 0;
	padding: 0;
}

header {
	color: orange;
    height: 760px;
    position: relative;
    color: white;
    overflow: hidden;
    background-image: url('./../img/hero-bg.jpg'); /* linear-gradient(rgba(96, 96, 96, 0.7),rgba(96, 96, 96, 0.7)),*/
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-wrapper{
    position: absolute;
}
